

body {padding: 0px; font-family: helvetica; margin: 0px;}
.banner {margin: 0px; padding: 10px 0px; background: black; color: white; text-indent: 20px;  font-size: 32px}

.p {color: white;}

.nav {padding: 10px 0px; background-color:rgb(0,48,65); color: white; text-align: center;}

a.navlinks {
    text-align: center;
    text-decoration:none;
    padding: 0% 10%;
    margin: 0px;
    color: white;
    font-size:18px;
    t
  }

.centerphoto {
    background: url(../images/1.jpg) no-repeat center center scroll;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-size: cover;
    height: 600px;
    color: white;
    font: helvetica;
    font-size: 28px;
    text-indent: 30px;
    padding-top: 20px;
    margin: 0px;
}
.bodytextbox {background-color:rgb(20,20,20);
  margin: 0px;}

.bodytext {
  text-align: left;
  font-size: 20px;

  color: white;
  margin: 0px 60px;
}
